.container {
	display: flex;
	color: blue;
	background-color: yellow;
	padding: 20px 0;
	justify-content: center;
}

.menu {
	border: 2px solid green;
	width: 800px;
	display: flex;
	justify-content: space-around;
}


body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

